# Vagrant
.vagrant/
.vagrant-ssh-config

# Logs & temp
*.log
*.tar

# Env files
.env
.env.*

# SSH keys
id_rsa
id_rsa.pub
id_ed25519
*.pem
*.key
.ssh/known_hosts
.ssh/known_hosts.*


# Node
node_modules/
*.swp
*.swo
